@chaset"UTF-8";
body{ background-color: #cfe6e5;
      background-image: url();}

h1{ font-size: 1.75em; color: #5c6665; text-align:center; }
h1 span{ color: #171a19; }

h2{ font-size: 1.25em; color: #b8ccca;  font-style: italic;
    border: #ffffff 2px dotted;
    border-left:#ffffff 10px solid;
    margin-bottom: 0;
    padding: 5px 20px; }

p{ font-size: 0.8em; }

li{ font-size: 0.8em; }

#aaa{ text-align: right; }
